
  .vxqibmenulist-menu:hover .dropdown-content-vxqib {
    display: flex;
    flex-direction: column;
  }
  .vxqibmenulist-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }
  .vxqibmenulist-menu:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }
  .vxqibmenulist-menu:hover > a {
    color: #000 !important;
  }




  .vxqibmenulist-menu > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff !important;
  }

  .dropdown-content-active-vxqib {
     background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;

  }

  .dropdown-content-active-vxqib > a {
    color: #000 !important;
  }



  .dropdown-content-vxqib {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 102;
    margin-top: 10px;
    padding: 5px;
  }
  .dropdown-content-vxqib > a {
    width: inherit;
    padding: 10px;
    border: solid;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    color: #fff;
  }
  .dropdown-content-vxqib > a:hover {
    background-color: #000;
  }
  .module-logo {
    width: 300px;
  }
  .vxqibbody {
    width: var(--max);
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 20px;
    justify-content: space-between;
  }
  .vxqibbody > a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    gap: 10px;
  }
  .vxqib-title {
    font-size: 16px;
    font-weight: 500;
    color: --titlecolor--;
  }
  .vxqib-spot {
    font-size: 16px;
    color: --spotcolor--;
  }
  .vxqib-icon {
    font-size: 36px !important;
    color: --iconcolor--;
  }
  .vxqib {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vxqibtitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vxqibtitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }
  .vxqibtitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .vxqibtitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }
  .vxqibtitlebodylang ul {
    display: flex;
    gap: 5px;
    position: relative;
  }
  .vxqibtitlebodylang li {
    position: relative;
    list-style: none;
  }
  .vxqibmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }
  .vxqibmenulist {
    width: calc(100% - 20px);
    background-color: #D72D32;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .vxqibmenubody {
    width: 100%;
    background-color: #D72D32;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vxqibmenulist {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding: 10px;
    /* overflow-x: auto; */
  }
  .vxqibmenulistbody {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .vxqibmenu {
      overflow-x: auto;
    }
    .vxqibmenulist {
      flex-direction: row;
    }
    .module-logo {
      width: 200px;
    }
    .vxqibbody {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  #content {
    justify-content: start;
  }

  .msk4h {
    width: var(--max);
    margin-top: 20px;
    gap: 10px;
    float: left;
  }

  .msk4h-menu {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: left;
  }

  .msk4h-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
  }

  .msk4h-menu>a {
    background-color: #fff;
    padding: 10px;
    float: left;
    border-radius: 5px;
  }

  .msk4h-menu>.active,
  .msk4h-menu>a:hover {
    background-color: #1e3046;
    color: #fff;
    display: flex;
  }

  .msk4h-desc-menu {
    width: 200px;
    background-color: #1e3046;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .msk4h-desc-menu>div {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
  }

  .msk4h-desc-body {
    display: flex;
    justify-content: space-between;
  }

  .msk4h-title {
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .msk4h-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/page/neden-calismaliyim/bg/1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  .msk4h-title span {
    position: relative;
    z-index: 2;
    font-size: 50px;
  }

  .msk4h-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .msk4h-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .msk4h-img img {
    width: 100%;
    border-radius: 10px;
  }

  @media screen and (min-width: 1024px) {
    .msk4h-desc {
      width: calc(var(--max) - 240px);
    }
  }

  @media screen and (max-width: 1024px) {
    .msk4h {
      flex-direction: column;
      width: calc(100% - 10px);
      padding: 5px;
      gap: 20px;
    }

    .msk4h-img {
      width: 100%;
    }

    .msk4h-body {
      width: 100%;
    }

    .msk4h-menu {
      display: none;
    }

    .msk4h-desc {
      width: 100% !important;
    }
  }


  .v8p0qhead {
    width: var(--max);
  }
  .v8p0qbodyitemtitlename {
    font-weight: 500;
  }
  .v8p0q {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .v8p0qbody {
    width: var(--max);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  .v8p0qbodyitem {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .v8p0qbodyitemimg {
    aspect-ratio: 12 / 8;
    display: flex;
  }
  .v8p0qbodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .v8p0qbodyitemtitle {
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
  }
  .v8p0qbodyitemtitle > div {
    display: flex;
    justify-content: space-between;
    border: solid 1px #000;
    border-width: 0px 0px 1px 0px;
    padding: 5px;
  }
  .v8p0qbodyitemspot {
    border-radius: 3px;
    height: 50px !important;
    padding: 5px;
    margin-top: 5px;
    background-color: #D72D32;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .v8p0qbodyitemspot > div {
    width: 100%;
    color: #fff;
    font-size: 16px;
  }
  @media screen and (max-width: 1024px) {
    .v8p0qbody {
      width: calc(100% - 10px);
      margin: 0px 5px 0px 5px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .v8p0qbody {
      width: calc(100% - 10px);
      margin: 0px 5px 0px 5px;
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .footer {
    position: relative;
    background: #D72D32;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23D72D32;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

